@model TestP.WebAppDemo.Models.Human

@{
    ViewData["Title"] = "Home Page";
}
@{

    var list = new List<string> { "asd", "qwe", "rty" };
    <li></li>
    var b =0 ;
}

<h1>@Model.FirstName</h1>
<h2>@Model.LastName</h2>
<h3>@Model.Id</h3>
<ul>
    @foreach (var item in list)
    {
        <li>@item</li>
    }
</ul>